html{
    background: black;
}

#centerdiv{
    width: 50%;
    margin: 0 auto;
    white-space: nowrap;
}

#centerdivKeepWidth{
    margin: 0 auto;
    text-align: center;
}

.array-item{
    display: inline-block;
    
}

label{
    color: white;
    font-size: x-large;
    font-weight: 700;
}

div button, div input, div label{
    margin: 0px 10px;
}